*
{
  font-family: Arial, Helvetica, sans-serif;
}

body
{
  background-color:rgb(34, 34, 34);
  margin: 0;
}

h1
{
  color: white;
}

h2
{
  color: white;
}

a
{
  color: #BF40BF;
}

.content
{
  margin: 8px;
}

.mainHeader
{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  font-size: 5em;
  text-shadow: black;
}

#particles-js
{
  height: 100vh;
}